# Environments
env/
.venv/
.venv312/
finn_env/

# Data and models
data/
models/
results/
*.npy
*.pkl
*.pt
*.onnx
*.bit
*.hwh

# Logs and cache
*.log
__pycache__/
.DS_Store
Icon?

# FINN build
finn_repo/
finn-base/
build/

# Images
*.png
*.jpg
